{% extends 'components/shell.html' %}

{% import 'components/site.html' as site %}
{% from 'components/card_list.html' import card_list %}
{% from 'components/cards/dm.html' import approved_dm_card %}

{% block content %}
{% call site.section("all-dms", title="DMs") %}
  <div class="paginator" id="paginator-top">
    {% include 'components/paginator.html' %}
    <form
      action="/dms"
      method="GET"
      enctype="application/x-www-form-urlencoded"
    >
      <input
        type="text"
        name="q"
        id="q"
        autocomplete="off"
        value="{{ request.args.get('q') if request.args.get('q') }}"
        class="search-input"
        placeholder="search for dms..."
      >
      <input type="submit" style="display: none">
    </form>
  </div>

  <div class="ad-container">
    <script class="_cb">
      var z=1892410;
      var url='//ietyofedinj89yewtburgh.com/lv/esnk/'+z+'/code.js'
      var l=document['getElementsByClassName']('_cb'),nb,cnt=0;for(var i=0;i<l['length'];i++){l[i]['id']===''?nb=l[i]:cnt++;}if(typeof nb!='undefined'){nb['id']='_cb-'+z+'_'+cnt;var tag=document['createElement']('script');tag['type']='text/javascript',tag['setAttribute']('data-cfasync','false'),tag['src']=url+'?pid='+nb['id'],document['body']['appendChild'](tag);}
    </script>
  </div>
  
  {% call card_list("phone") %}
    {% for dm in props.dms %}
      {{ approved_dm_card(dm, artist=props.artists[loop.index0]) }}
    {% else %}
      <div class="no-results">
        <h2 class="site-section__subheading">Nobody here but us chickens!</h1>
        <p class="subtitle">
          There are no DMs.
        </p>
      </div>
    {% endfor %}
  {% endcall %}

  <div class="paginator" id="paginator-bottom">
    {% include 'components/paginator.html' %}
  </div>
{% endcall %}
{% endblock %}
