{% extends 'components/shell.html' %}

{% from 'components/card_list.html' import card_list %}
{% from 'components/ads.html' import video_ad %}
{% from 'components/cards/user.html' import user_card, user_card_header %}

{% block content %}
  {{ video_ad() }}
  <div class="site-section site-section--updated page" id="page">
    {% if results|length %}
      <div class="paginator" id="paginator-top">
        {% include 'components/paginator.html' %}
      </div>
      <div class="ad-container">
        <script data-cfasync="false" type="text/javascript" src="//ay5u9w4jjc.com/lv/esnk/1935968/code.js" async id="__clb-1935968"></script>
      </div>
    {% endif %}
    {% call card_list('table') %}
      {{ user_card_header(is_date=true) }}
      {% for user in results %}
        {{ user_card(user, is_date=true) }}
      {% else %}
        <p class="no-posts subtitle">
          No creators found for your query.
        </p>
      {% endfor %}
    {% endcall %}
    {% if results|length %}
      <div class="ad-container">
        <iframe name="coomer iframe"  src="https://www.ero-labs.com/adIframe/?code=coomeriframe" marginheight="0" marginwidth="0" scrolling="no" frameborder="0" height="90px" width="728px" allow="autoplay; fullscreen">
        </iframe>
      </div>
      <div class="paginator" id="paginator-bottom">
        {% include 'components/paginator.html' %}
      </div>
    {% endif %}
  </div>
{% endblock %}
