{% extends 'components/shell.html' %}

{% from 'components/card_list.html' import card_list %}
{% from 'components/cards/user.html' import user_card, user_card_header %}

{% block scripts_extra %}
  <script async src="https://js.wpadmngr.com/static/adManager.js" data-admpid="32201"></script>
{% endblock scripts_extra %}

{% block content %}
  <div class="site-section site-section--updated page" id="page">
    {% if results|length %}
      <div class="paginator" id="paginator-top">
        {% include 'components/paginator.html' %}
      </div>
      <div class="ad-container">
        <div data-nat="15016"></div>
      </div>
    {% endif %}
    {% call card_list('table') %}
      {{ user_card_header(is_date=true) }}
      {% for user in results %}
        {{ user_card(user, is_date=true) }}
      {% else %}
        <p class="no-posts subtitle">
          No artists found for your query.
        </p>
      {% endfor %}
    {% endcall %}
    {% if results|length %}
      <div class="ad-container">
        <div data-nat="15057"></div>
      </div>
      <div class="paginator" id="paginator-bottom">
        {% include 'components/paginator.html' %}
      </div>
    {% endif %}
  </div>
{% endblock %}
