{% extends 'components/shell.html' %}

{% from 'components/card_list.html' import card_list %}
{% from 'components/cards/user.html' import user_card, user_card_header %}
{% from 'components/ads.html' import video_ad %}

{% block content %}
  {{ video_ad() }}
  <div class="site-section site-section--updated page" id="page">
    {% if results|length %}
      <div class="paginator" id="paginator-top">
        {% include 'components/paginator.html' %}
      </div>
      <div class="ad-container">
        <a href="https://l.hyenadata.com/s/2DOcmy" target="_blank">
          <img src="/static/ad/eroroe.gif">
        </a>
      </div>
    {% endif %}
    {% call card_list('table') %}
      {{ user_card_header(is_date=true) }}
      {% for user in results %}
        {{ user_card(user, is_date=true) }}
      {% else %}
        <p class="no-posts subtitle">
          No artists found for your query.
        </p>
      {% endfor %}
    {% endcall %}
    {% if results|length %}
      <div class="ad-container">
        <script async type="application/javascript" src="https://a.realsrv.com/ad-provider.js"></script> 
        <ins class="adsbyexoclick" data-zoneid="4542186"></ins> 
        <script>(AdProvider = window.AdProvider || []).push({"serve": {}});</script>
      </div>
      <div class="paginator" id="paginator-bottom">
        {% include 'components/paginator.html' %}
      </div>
    {% endif %}
  </div>
{% endblock %}
